<div class="box">
<div class="container">
<div class="row">
  <div class= "col-xs-3">
    <h2>User info</h2>
    <%= render 'info', user: @user %>


  <div class="newbook">
    <h2>New book</h2>
      <%= render 'books/new_form', book: @book %>
  </div>

  </div>


  <div class= "col-xs-9">
  	<table class='table table-hover' >
      <thead>
  		<tr>
  		<td><strong>image</strong></td>
  		<td><strong>name</strong></td>
      <td></td>
  		</tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
      <tr>
        <td>
          <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg",size:'40x40' %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= link_to"Show",user_path(user.id) %>
        </td>
      </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
</div>
</div>
