

<div class="box">
<div class="container">
<div class="row">
  <div class= "col-xs-3">
		<%=  notice %>
		<h2>User info</h2>
      <%= render 'users/info', user: @book.user %>

  <div class="newbook">

  <h2>New book</h2>
    <%= render 'new_form', book: @book_new %>
  </div>
	</div>






	<div class="col-xs-9">
		<h2>Book detail</h2>
		  <%= render 'detail', book: @book %>

			<p class="mt-5"><strong>Comment</strong></p>
        <div id="comments_area">
          <%= render 'post_comments/comment', book: @book %>
        </div>


            <%= form_with model: [@book, @post_comment] do |f| %>
              <div class="row">
              <div class="col-sm-12">
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
            <%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
              </div>
              </div>
            <% end %>

	</div>
</div>
</div>
</div>


